@media only screen and (max-width: 1200px){
     section {
            width: 70%;
        }
}

@media only screen and (max-width: 750px){
     section {
            width: 90%;}
}

@media only screen and (max-width: 570px){
     section {
            width: 95%;}
    
    .error {
        font-size: 80%;
        margin-left: 25%;}
    
    label {
        display: block;
        float: left;
        text-align: center;}
    
    input {
        width: 100%;
        position: relative;
        display: block;
        float: left;
        margin-top:10px;
        text-align: center;
        right: 1%;
        height: 40px;
    }
    
    .questionButton {
        margin-top: 25px;
    }
    
    .result {
        margin-top: 15%;
    }
    
    @media only screen and (max-width: 570px){
     .error {
        font-size: 80%;
        margin-left: 10%;}
    }
    
    
}